<div>
  <div class="back margin-0">
    <div class="column margin-0">
      <button class="mb1" mat-raised-button (click)="onBack()" *ngIf="index > 0">Retour</button>
      <button mat-raised-button (click)="onAccueil()" *ngIf="index > 0">Retour à l'accueil</button>
    </div>

    <p class="margin-0" *ngFor="let selected of selectedOptions; let i = index" (click)="onBreadcrumb(selected)">{{ selected | firstLetters: i }}&nbsp;>&nbsp;</p>
  </div>

  <h1>{{ titles[index] }}</h1>

  <mat-form-field class="back right">
    <mat-label>Recherche</mat-label>
    <input id="search" matInput (input)="onChange($event.target.value)">
  </mat-form-field>
</div>

<!-- Si on a peu d'options, on affiche en une colonne -->
<div class="col" *ngIf="filteredOptions1.length === 0">
  <button class="select" mat-raised-button *ngFor="let option of filteredOptions" (click)="onSelect(option)">{{ option }}</button>
</div>

<!-- Sinon, on affiche en 2, voir 3 colonnes -->
<div *ngIf="filteredOptions1.length > 0">
  <div class="col" [ngClass]="{'half': filteredOptions3.length === 0, 'third': filteredOptions3.length > 0}">
    <button class="select" mat-raised-button *ngFor="let option of filteredOptions1" (click)="onSelect(option)">{{ option }}</button>
  </div>

  <div class="col" [ngClass]="{'half': filteredOptions3.length === 0, 'third': filteredOptions3.length > 0}">
    <button class="select" mat-raised-button *ngFor="let option of filteredOptions2" (click)="onSelect(option)">{{ option }}</button>
  </div>

  <div class="col third" *ngIf="filteredOptions3.length > 0">
    <button class="select" mat-raised-button *ngFor="let option of filteredOptions3" (click)="onSelect(option)">{{ option }}</button>
  </div>
</div>