div {
  display: flex;
  margin-top: 1vh;

  &.col {
    align-items: center;
    flex-direction: column;
    margin-top: 5vh;
    width: 100%;

    &.half {
      width: 50%;
    }

    &.third {
      width: 33%;
    }
  }

  &.column {
    flex-direction: column;
    margin: 0;

    &.margin-0 {
      margin: 0 1vw 0 0;
    }
  }
}

h1 {
  margin: 0 auto;
}

p {
  color: #3E0D81;
  text-decoration: underline;
}

p:hover {
  cursor: pointer;
}

.back {
  align-items: baseline;
  position: absolute;

  &.right {
    right: 0;
  }
}

.margin-0 {
  margin: 0;
}

.mb1 {
  margin-bottom: 1vh;
}

.select {
  margin-bottom: 5vh;
  min-height: 10vh;
  white-space: normal;
  width: 50%;
  word-break: break-word;
}