<div>
  <div class="absolute">
    <button mat-raised-button (click)="onBack()">Retour</button>
    <button class="ml1" mat-raised-button (click)="onAccueil()">Retour à l'accueil</button>
  </div>


  <h1>Résumé</h1>
</div>

<div *ngIf="ticket">
  <div class="col line first">
    <div class="line" *ngFor="let field of firstFields; let i = index">
      <h2 class="label">{{ firstLabels[i] }}</h2>

      <p [ngClass]="{'w20': ticket[field] === 'Incident / Request'}">{{ ticket[field] }}</p>

      <!-- Si type de ticket "non défini", l'utilisateur peut le définir -->
      <mat-radio-group (change)="onChangeType($event.value)" class="select" *ngIf="ticket[field] === 'Incident / Request'">
        <mat-radio-button class="firstOption" value="Incident">Incident</mat-radio-button>
        <mat-radio-button value="Request">Request</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div class="empty"></div>

  <div class="col line second">
    <div class="line" *ngFor="let field of secondFields; let i = index">
      <h2 class="label">{{ secondLabels[i] }}</h2>

      <!-- Prérequis (textarea + bouton copier) -->
      <div class="textarea" *ngIf="field === 'prerequis'">
        <mat-form-field>
          <textarea matInput rows="10" [(ngModel)]="ticket[field]"></textarea>
        </mat-form-field>

        <button class="ml1" mat-button [cdkCopyToClipboard]="ticket[field]" (click)="onCopy()">Copier</button>
      </div>

      <!-- Propriétaire (champs text) -->
      <p *ngIf="field === 'proprietaire'">{{ ticket[field] }}</p>

      <!-- Procédure (champs text + bouton copier) -->
      <div class="align-center" *ngIf="field === 'procedure'">
        <p>{{ ticket[field] }}</p>

        <button class="ml1" mat-button [cdkCopyToClipboard]="ticket[field]" (click)="onCopy()">Copier</button>
      </div>

      <!-- Impact (radio bouton + bouton copier) -->
      <div class="align-center" *ngIf="type !== 'Incident / Request' && field === 'impact'">
        <mat-radio-group (change)="onChangeImpact($event.value)" class="select">
          <mat-radio-button *ngIf="type === 'Incident'" class="firstOption" value="0">Incident général</mat-radio-button>
          <mat-radio-button *ngIf="type === 'Incident'" class="firstOption" value="1">Plusieurs utilisateurs</mat-radio-button>
          <mat-radio-button *ngIf="type === 'Incident'" value="2">Un utilisateur</mat-radio-button>
          <mat-radio-button *ngIf="type === 'Request'" value="3" [checked]="true">Demande</mat-radio-button>
        </mat-radio-group>

        <button class="ml1" *ngIf="impact" mat-button [cdkCopyToClipboard]="impactLabels[impact]" (click)="onCopy()">Copier</button>
      </div>
    </div>

    <!-- Location -->
    <div class="line" *ngIf="showLocation">
        <h2 class="label">Localisation</h2>

        <mat-radio-group (change)="onChangeLocation($event.value)" class="select">
          <mat-radio-button class="firstOption" value="VC">Villers Cotteret</mat-radio-button>
          <mat-radio-button class="firstOption" value="FDT">Force de Terrain</mat-radio-button>
          <mat-radio-button value="ROI">Roissy</mat-radio-button>
        </mat-radio-group>

        <button class="ml1" *ngIf="location" mat-button [cdkCopyToClipboard]="'[' + location + ']'" (click)="onCopy()">Copier</button>
    </div>
  </div>
</div>

<div *ngIf="!ticket">
  <h2>Aucune procédure trouvée</h2>
</div>