button {
  min-height: 4vh;
  min-width: 5vw;
}

div {
  display: flex;
  margin-top: 1vh;

  &.absolute {
    align-items: baseline;
    margin: 0 0 0 1vw;
    position: absolute;
  }

  &.align-center {
    align-items: center;
    margin: 0;
  }

  &.col {
    flex-direction: column;
    margin-top: 5vh;

    &.first {
      margin-left: 5%;
      width: 35%;
    }

    &.second {
      width: 45%;
    }
  }

  &.empty {
    width: 15%;
  }

  &.line {
    align-items: center;
    margin-top: 2vh;
    width: 100%;
  }
}

h1 {
  margin: 0 auto;
}

h2 {
  margin: 0;
  text-align: center;
  width: 100%;

  &.label {
    margin-right: 2vw;
    text-align: start;
    width: auto;
  }
}

mat-form-field {
  margin: 0 1vh 0 0;
  width: 65%;
  white-space: pre-line;
}

p {
  margin: 0;
  white-space: pre-line;
  width: 47.5%;
  word-break: break-word;

  &.w20 {
    width: 30%;
  }
}

.firstOption {
  margin-bottom: 1vh;
}

.ml1 {
  margin-left: 1vw;
}

.select {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.textarea {
  align-items: center;
  width: 70%;
}