/* You can add global styles to this file, and also import other style files */
html, body {
  height: 99%;
}

body {
  background-color: #f3f3f3;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;

  &.dark {
    background-color: #353535;
    color: white;
  }
}

body.dark div.mat-form-field-underline {
  background-color: #f3f3f3;
}

body.dark mat-label {
  color: white;
}

body.dark p {
  color: white;
}

button {
  background-color: #3E0D81 !important;
  color: white !important;
}

snack-bar-container.error button {
  background-color: rgb(141, 5, 5) !important;
}

#theme {
  border-radius: 4px;
  bottom: 0;
  cursor: pointer;
  height: 3vh;
  outline: none;
  position: fixed;
  right: 0;
  width: 7vw;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:#3E0D81; 
}

.mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:#3E0D81;
  background-color:#3E0D81 ;
}

.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:#3d0d8159;
}

.mat-snack-bar-container {
  background-color: #3E0D81 !important;
  color: white !important;

  &.error {
    background-color: rgb(141, 5, 5) !important;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #3E0D81;
}