button {
  height: 10vh;
  margin: 0 auto;
  width: 30vw;
}

div {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  width: 100vw;
}

h1 {
  text-align: center;
}