<div>
  <h1>Bienvenue sur cette application d'aide à la décision pour support de niveau 1 !</h1>

  <button mat-raised-button (click)="file.click()">Veuillez sélectionner votre fichier excel</button>
  <input #file id="file" type="file" hidden (change)="onFileSelected()" accept="xlsx">
</div>
